
.box{
    border: solid 2px black;
    width: 200px;
    height: 100px;
    background:gold;
    border-radius: 100px;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.box:hover{
    width: 600px;
    height: 400px;
    background-color: aqua;
}

.header{
    
    border: solid 1px black;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    transition-property: all;
    transition-duration: 0.4ms;
    transition-delay: 0.6ms;
    transition-timing-function: linear;
    color: aqua;
    background-color: black;
}
.header:hover{
    background-color: red;
    color: white;

}