.container{
    background-color: beige;
     height: 600px;
     width: auto;
     border: 3px solid red;
     display: flex;
     justify-content: center;
     align-items: center;
}
img{
    width: 240px;
    height: 100px;
}
.box{
    background-color: aqua;
    height: 330px;
    width: 330px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    /* box-shadow: -10px 10px green; */

    /* box-shadow: 10px 15px 5px brown;  */

}
*{
    margin: 0;
    padding:0%;
}

#head1{
    text-shadow: 2px 2px white;
    /* text-shadow: red 2px 2px,green 13px 3px; */
}